{% macro render_field(field) %}
  {{ field.label }}  
  {{ field(**kwargs) }}
  {% if field.errors %}
    {% for error in field.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
  {% endif %}
  </br>
{% endmacro %}


<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>The DaftCode Internship Project</title>
  </head>
  <body>
    <div class="container">
      <div class="panel">
        <div class="panel-body">
          <ul role="navigation" class="nav nav-pills">
            {% block navigation %}{% endblock %}
          </ul>
        </div>
      </div>
      <div class="panel">
        <div class="panel-body">
          <div class="col-md-9">
            <h1>Welcome to <i>The DaftCode Internship Project</i></h1>
            <h3>Pick a link from the navigation bar or type in your data on the right</h3>
          </div>
          <div class="col-md-3">
            <form role="form" method="POST">
              <br/>
              {{ form.hidden_tag() }}
              {{ render_field(form.currency) }}
              {% if start is none %}
                {{ render_field(form.from_date) }}
                {{ render_field(form.to_date) }}
              {% else %}
                {{ render_field(form.from_date, value=start) }}
                {{ render_field(form.to_date, value=end) }}
              {% endif %}
              <button class="btn btn-default" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>