{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs) }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span style="color: red;">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>The DaftCode Internship Project</title>
  </head>
  <body>
    <div>Navigation: <a href="/">Home</a>
    <a href="/table">Table only</a>
    <a href="/graph">Graph only</a>
    <a href="/delete">Delete cache</a>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>Welcome to <i>The DaftCode Internship Project</i></h1>
    <h2>You can pick a link from the navigation bar or check the history below</h2>
    <form class="form" role="form" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.currency) }}
    {% if start is none %}
    {{ render_field(form.from_date, placeholder='Start date') }}
    {{ render_field(form.to_date, placeholder='End date') }}
    {% else %}
    {{ render_field(form.from_date, value=start) }}
    {{ render_field(form.to_date, value=end) }}
    {% endif %}
    {{ form.submit }}
    </form>
    {% block content %}{% endblock %}
  </body>
</html>