{% extends "base.html" %}

{% block navigation %}
<li role="presentation"><a href="/">Home</a></li>
<li role="presentation"><a href="/table">Table only</a></li>
<li role="presentation"><a href="/graph">Graph only</a></li>
<li role="presentation" class="active"><a href="/delete">Delete/Update</a></li>
{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-header">
    <div class="col-md-12">
      <h3 class="text-center">You can delete or update the database by pressing the right button</h3>
      <h4 class="text-center">The application can freeze for a little while</h4>
      <br/>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <form role="form" method="post">
        <div class="col-md-1 col-md-offset-4">
          <button class="btn btn-default" type="submit" name="task" value="delete">Delete cache</button>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <button class="btn btn-default" type="submit" name="task" value="update">Update database</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
