{% extends "base.html" %}

{% block navigation %}
<li role="presentation"><a href="/">Home</a></li>
<li role="presentation"><a href="/table">Table only</a></li>
<li role="presentation" class="active"><a href="/graph">Graph only</a></li>
<li role="presentation"><a href="/delete">Delete/Update</a></li>
{% endblock %}


{% block content %}
    <div class="panel panel-default col-md-12">
      <div class=" panel-body" id="graph">
        {% if graph is not none %}
        {{ graph|safe }}
        {% endif %}
      </div>
    </div>

{% endblock %}
