{% extends "base.html" %}
{% block content %}

<div class="row">
    {% if data is not none %}
    <div class="col-md-6" id="table">
      <table class="table table-striped" style="margin-top: 100px" border="1">
      <tr><th>Date</th><th>Rate</th></tr>
      {% for row in data %}
      <tr>
        <td>{{ row['effectiveDate'] }}</td>
        <td>{{ row['mid'] }}</td>
      </tr>
      {% endfor %}
      </table>
    </div>
    {% endif %}
    <div class="col-md-6" id="graph">
    {% if graph is not none %}
	  {{ graph|safe }}
  	{% endif %}
    </div>
</div>

{% endblock %}