{% extends "base.html" %}

{% block navigation %}
<li role="presentation"  class="active"><a href="/">Home</a></li>
<li role="presentation"><a href="/table">Table only</a></li>
<li role="presentation"><a href="/graph">Graph only</a></li>
<li role="presentation"><a href="/delete">Delete/Update</a></li>
{% endblock %}


{% block content %}
{% if data is not none %}
<div class="col-md-3" id="tablediv">
  <table class="table table-striped table-bordered">
    <tr><th>Date</th><th>{{ cur }}</th></tr>
    {% for row in data %}
    <tr>
      <td>{{ row['effectiveDate'] }}</td>
      <td>{{ row['mid'] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
<div class="panel panel-default col-md-9">
  <div class=" panel-body" id="graph">
    {% if graph is not none %}
    {{ graph|safe }}
    {% endif %}
  </div>
</div>
{% endblock %}
